ul.tinyevents-list {
	list-style: none;
	margin: 0; padding: 0;
	overflow: hidden;
}
.tinyevents-list h3, .tinyevents-list p {
	margin: 0;
}
.tinyevents-list h3 {
	font-weight: bold;
	font-size: 1.1em;
}
.tinyevents-list .date {
	font-size: 1.1em;
	color: #000;
}
.tinyevents-list a, .tinyevents-list a:link, .tinyevents-list a:visited, 
.tinyevents-list .date, .tinyevents-list p {
	color: #666;
	font-weight: inherit;
}
ul.tinyevents-list a {
	display: block;
	padding: 1em 1em 1em 0;
	border-bottom: 1px solid #eee;
}

.tinyevents-single.date + .tinyevents-single.time {
	margin: -0.8em 0 0.8em 0;
}
@media screen and (min-width: 768px) {
	.tinyevents-single.venue {
		overflow: hidden;
	}
	.tinyevents-single.venue .venue-details {
		float: left;
		width: 32.5%;
	}
	.tinyevents-single.venue .tinyevents-gmap {
		float: right;
		width: 65.5%;
	}
}

.tinyevents-gmap {
	width: 100%;
	min-height: 300px;
}